.btnConnection{
    color: white;
    text-align: left;


    
}
.btnWeather{
    color: white;
}
.topbar{
    position: absolute;
    top: 2vw;
    padding: 2vw;
    margin-left:39%;
    white-space:inherit;
}